# LOCAL CONNECTION (output as SQL output)

In [3]:
#If you haven't installed it already (either by using pip or by anaconda), run the following command in a Jupyter Notebook cell to install the extension
#!pip install ipython-sql (i have commented it out since we already downloaded ipython-sql from anaconda)

In [4]:
#In a Jupyter Notebook cell, load the %sql extension using the %load_ext magic command:
%load_ext sql

In [5]:
#Use the %sql magic command to connect to your SQLite database. 
#Replace your_database.db with the actual path to your SQLite database file. 
#Use forward slashes (/) as path separators even on Windows:
#db_path="C:/Users/DELL/Documents/All%20Files/ALX Academy/Data%20Science/SQL/SQL%20Files/Extracted%20Module-3-SQL-a-3902/Module%203_%20SQL/Exercises/chinook.db"
#db_path = "C:/Users/DELL/Documents/All Files/ALX Academy/Data Science/SQL/SQL Files/Extracted Module-3-SQL-a-3902/Module 3_ SQL/Exercises/chinook.db"
#%sql sqlite:///C:/Users/DELL/Documents/All%20Files/ALX%20Academy/Data%20Science/SQL/SQL%20Files/ALX%20SQL%20Tutorial1/Module3_%20SQL/Exercises/chinook.db

%sql sqlite:///chinook.db

'Connected: @chinook.db'

In [24]:
#This "%sql postgresql:///chinook.db" wont work for PostgreSQL does not use a single file for the entire database in the same way that SQLite does. Therefore, you cannot directly reference a "database filename" in the connection string as you might with SQLite.
#In PostgreSQL, you need to provide connection details such as the username, password, host, port, and database name in the connection string. The connection string format for PostgreSQL is typically:


#postgresql://username:password@host:port/database

In [7]:
#checking the table names in chinook database
#%sql SELECT name FROM sqlite_master WHERE type='table';

In [25]:
-- This is a single-line comment (SQL will not execute lines that begin with '--')

/* This is a block
comment which will **comment**
multiple 'lines'
*/

SyntaxError: invalid syntax (1299474431.py, line 1)

In [8]:
#Showing all tables present in the Chinook database
%sql SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///chinook.db
Done.

[('albums',),
 ('sqlite_sequence',),
 ('artists',),
 ('customers',),
 ('employees',),
 ('genres',),
 ('invoices',),
 ('invoice_items',),
 ('media_types',),
 ('playlists',),
 ('playlist_track',),
 ('tracks',),
 ('sqlite_stat1',)]

In [85]:
#You can now execute SQL commands using the %sql magic command. For example, to retrieve data from a table:
#%reload_ext sql
#%sql SELECT * FROM "employees";
%sql SELECT * FROM tracks LIMIT 10;

 * sqlite:///chinook.db
Done.

[(1, 'For Those About To Rock (We Salute You)', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 343719, 11170334, 0.99),
 (2, 'Balls to the Wall', 2, 2, 1, None, 342562, 5510424, 0.99),
 (3, 'Fast As a Shark', 3, 2, 1, 'F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman', 230619, 3990994, 0.99),
 (4, 'Restless and Wild', 3, 2, 1, 'F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. Dirkscneider & W. Hoffman', 252051, 4331779, 0.99),
 (5, 'Princess of the Dawn', 3, 2, 1, 'Deaffy & R.A. Smith-Diesel', 375418, 6290521, 0.99),
 (6, 'Put The Finger On You', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 205662, 6713451, 0.99),
 (7, "Let's Get It Up", 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 233926, 7636561, 0.99),
 (8, 'Inject The Venom', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 210834, 6852860, 0.99),
 (9, 'Snowballed', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 203102, 6599424, 0.99),
 (10, 'Evil Walks', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 263497, 8611245, 0.99)]

In [10]:
%%sql
SELECT 
    FirstName,
    LastName,
    Title
FROM employees
WHERE Country = 'Canada' 
AND City = 'Calgary'
AND ReportsTo IS NOT NULL
LIMIT 10;

 * sqlite:///chinook.db
Done.

[('Nancy', 'Edwards', 'Sales Manager'),
 ('Jane', 'Peacock', 'Sales Support Agent'),
 ('Margaret', 'Park', 'Sales Support Agent'),
 ('Steve', 'Johnson', 'Sales Support Agent'),
 ('Michael', 'Mitchell', 'IT Manager')]

In [11]:
%sql SELECT * FROM invoices LIMIT 10;

 * sqlite:///chinook.db
Done.

[(1, 2, '2009-01-01 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', 1.98),
 (2, 4, '2009-01-02 00:00:00', 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', 3.96),
 (3, 8, '2009-01-03 00:00:00', 'Grétrystraat 63', 'Brussels', None, 'Belgium', '1000', 5.94),
 (4, 14, '2009-01-06 00:00:00', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', 8.91),
 (5, 23, '2009-01-11 00:00:00', '69 Salem Street', 'Boston', 'MA', 'USA', '2113', 13.86),
 (6, 37, '2009-01-19 00:00:00', 'Berger Straße 10', 'Frankfurt', None, 'Germany', '60316', 0.99),
 (7, 38, '2009-02-01 00:00:00', 'Barbarossastraße 19', 'Berlin', None, 'Germany', '10779', 1.98),
 (8, 40, '2009-02-01 00:00:00', '8, Rue Hanovre', 'Paris', None, 'France', '75002', 1.98),
 (9, 42, '2009-02-02 00:00:00', '9, Place Louis Barthou', 'Bordeaux', None, 'France', '33000', 3.96),
 (10, 46, '2009-02-03 00:00:00', '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', None, 5.94)]

In [13]:
%%sql
SELECT
    CustomerId,
    BillingCountry,
    ROUND(Total/SUM(Total) OVER (PARTITION BY BillingCountry)*100,2) AS pct_invoice_bill_by_country
FROM invoices
WHERE BillingCountry IS NOT NULL;

 * sqlite:///chinook.db
Done.

[(56, 'Argentina', 5.26),
 (56, 'Argentina', 10.53),
 (56, 'Argentina', 15.79),
 (56, 'Argentina', 2.63),
 (56, 'Argentina', 5.26),
 (56, 'Argentina', 36.84),
 (56, 'Argentina', 23.68),
 (55, 'Australia', 5.26),
 (55, 'Australia', 10.53),
 (55, 'Australia', 15.79),
 (55, 'Australia', 2.63),
 (55, 'Australia', 5.26),
 (55, 'Australia', 36.84),
 (55, 'Australia', 23.68),
 (7, 'Austria', 4.65),
 (7, 'Austria', 44.25),
 (7, 'Austria', 20.91),
 (7, 'Austria', 4.65),
 (7, 'Austria', 9.29),
 (7, 'Austria', 13.94),
 (7, 'Austria', 2.32),
 (8, 'Belgium', 15.79),
 (8, 'Belgium', 2.63),
 (8, 'Belgium', 5.26),
 (8, 'Belgium', 36.84),
 (8, 'Belgium', 23.68),
 (8, 'Belgium', 5.26),
 (8, 'Belgium', 10.53),
 (10, 'Brazil', 4.69),
 (12, 'Brazil', 0.52),
 (13, 'Brazil', 1.04),
 (11, 'Brazil', 1.04),
 (13, 'Brazil', 2.08),
 (11, 'Brazil', 7.29),
 (13, 'Brazil', 3.12),
 (1, 'Brazil', 2.09),
 (1, 'Brazil', 2.08),
 (11, 'Brazil', 4.69),
 (13, 'Brazil', 0.52),
 (1, 'Brazil', 3.12),
 (10, 'Brazil', 1.04),
 (12, 'Brazil', 1.04),
 (12, 'Brazil', 7.29),
 (10, 'Brazil', 2.08),
 (1, 'Brazil', 0.52),
 (10, 'Brazil', 3.12),
 (12, 'Brazil', 4.69),
 (10, 'Brazil', 0.52),
 (11, 'Brazil', 1.04),
 (13, 'Brazil', 1.04),
 (13, 'Brazil', 7.29),
 (11, 'Brazil', 2.08),
 (11, 'Brazil', 3.12),
 (1, 'Brazil', 1.04),
 (13, 'Brazil', 4.69),
 (1, 'Brazil', 7.29),
 (11, 'Brazil', 0.52),
 (12, 'Brazil', 1.04),
 (10, 'Brazil', 1.04),
 (12, 'Brazil', 2.08),
 (1, 'Brazil', 4.69),
 (10, 'Brazil', 7.29),
 (12, 'Brazil', 3.12),
 (14, 'Canada', 2.93),
 (31, 'Canada', 2.93),
 (33, 'Canada', 0.33),
 (15, 'Canada', 0.65),
 (15, 'Canada', 4.56),
 (29, 'Canada', 0.33),
 (30, 'Canada', 0.65),
 (32, 'Canada', 0.65),
 (32, 'Canada', 4.56),
 (30, 'Canada', 1.3),
 (30, 'Canada', 1.95),
 (3, 'Canada', 1.31),
 (15, 'Canada', 3.26),
 (3, 'Canada', 4.56),
 (32, 'Canada', 2.93),
 (14, 'Canada', 0.65),
 (30, 'Canada', 0.33),
 (31, 'Canada', 0.65),
 (33, 'Canada', 0.65),
 (14, 'Canada', 1.3),
 (33, 'Canada', 4.56),
 (3, 'Canada', 2.93),
 (29, 'Canada', 0.65),
 (31, 'Canada', 1.3),
 (14, 'Canada', 1.95),
 (29, 'Canada', 4.56),
 (31, 'Canada', 1.95),
 (33, 'Canada', 2.93),
 (14, 'Canada', 0.33),
 (15, 'Canada', 0.65),
 (29, 'Canada', 2.93),
 (31, 'Canada', 0.33),
 (32, 'Canada', 0.65),
 (15, 'Canada', 1.3),
 (30, 'Canada', 0.65),
 (32, 'Canada', 1.3),
 (15, 'Canada', 1.95),
 (30, 'Canada', 4.56),
 (32, 'Canada', 1.95),
 (3, 'Canada', 0.65),
 (3, 'Canada', 1.3),
 (15, 'Canada', 0.33),
 (30, 'Canada', 2.93),
 (3, 'Canada', 1.95),
 (32, 'Canada', 0.33),
 (33, 'Canada', 0.65),
 (14, 'Canada', 0.65),
 (14, 'Canada', 4.56),
 (29, 'Canada', 0.65),
 (31, 'Canada', 0.65),
 (33, 'Canada', 1.3),
 (31, 'Canada', 4.56),
 (29, 'Canada', 1.3),
 (33, 'Canada', 1.95),
 (3, 'Canada', 0.33),
 (29, 'Canada', 1.95),
 (57, 'Chile', 4.25),
 (57, 'Chile', 29.73),
 (57, 'Chile', 38.42),
 (57, 'Chile', 4.25),
 (57, 'Chile', 8.49),
 (57, 'Chile', 12.74),
 (57, 'Chile', 2.12),
 (6, 'Czech Republic', 9.87),
 (5, 'Czech Republic', 2.19),
 (5, 'Czech Republic', 4.39),
 (5, 'Czech Republic', 6.58),
 (5, 'Czech Republic', 1.1),
 (6, 'Czech Republic', 2.19),
 (6, 'Czech Republic', 4.39),
 (6, 'Czech Republic', 6.58),
 (6, 'Czech Republic', 1.1),
 (5, 'Czech Republic', 2.19),
 (5, 'Czech Republic', 18.68),
 (5, 'Czech Republic', 9.87),
 (6, 'Czech Republic', 2.19),
 (6, 'Czech Republic', 28.66),
 (9, 'Denmark', 5.26),
 (9, 'Denmark', 10.53),
 (9, 'Denmark', 15.79),
 (9, 'Denmark', 2.63),
 (9, 'Denmark', 5.26),
 (9, 'Denmark', 36.84),
 (9, 'Denmark', 23.68),
 (44, 'Finland', 21.41),
 (44, 'Finland', 4.76),
 (44, 'Finland', 19.13),
 (44, 'Finland', 14.27),
 (44, 'Finland', 2.38),
 (44, 'Finland', 4.76),
 (44, 'Finland', 33.3),
 (40, 'France', 1.01),
 (42, 'France', 2.03),
 (40, 'France', 7.1),
 (42, 'France', 3.04),
 (40, 'France', 4.57),
 (42, 'France', 0.51),
 (43, 'France', 1.01),
 (39, 'France', 1.01),
 (41, 'France', 1.01),
 (43, 'France', 2.03),
 (41, 'France', 7.1),
 (39, 'France', 2.03),
 (43, 'France', 3.04),
 (39, 'France', 3.04),
 (41, 'France', 4.57),
 (43, 'France', 0.51),
 (39, 'France', 1.02),
 (40, 'France', 1.53),
 (42, 'France', 2.04),
 (42, 'France', 7.1),
 (40, 'France', 2.03),
 (40, 'France', 3.04),
 (42, 'France', 4.57),
 (40, 'France', 0.51),
 (41, 'France', 1.01),
 (43, 'France', 1.01),
 (43, 'France', 8.64),
 (39, 'France', 1.01),
 (41, 'France', 2.03),
 (39, 'France', 7.1),
 (41, 'France', 3.04),
 (43, 'France', 4.57),
 (39, 'France', 4.57),
 (41, 'France', 0.51),
 (42, 'France', 1.01),
 (2, 'Germany', 1.27),
 (37, 'Germany', 0.63),
 (38, 'Germany', 1.27),
 (2, 'Germany', 8.86),
 (36, 'Germany', 1.27),
 (38, 'Germany', 2.53),
 (36, 'Germany', 8.86),
 (38, 'Germany', 3.8),
 (2, 'Germany', 5.69),
 (36, 'Germany', 5.69),
 (38, 'Germany', 0.63),
 (37, 'Germany', 1.27),
 (37, 'Germany', 8.86),
 (37, 'Germany', 9.53),
 (2, 'Germany', 1.27),
 (2, 'Germany', 2.53),
 (36, 'Germany', 1.27),
 (38, 'Germany', 1.27),
 (38, 'Germany', 8.86),
 (2, 'Germany', 3.8),
 (36, 'Germany', 2.53),
 (36, 'Germany', 3.8),
 (38, 'Germany', 5.69),
 (2, 'Germany', 0.63),
 (36, 'Germany', 0.63),
 (37, 'Germany', 1.27),
 (37, 'Germany', 2.53),
 (37, 'Germany', 3.8),
 (45, 'Hungary', 4.34),
 (45, 'Hungary', 47.92),
 (45, 'Hungary', 19.53),
 (45, 'Hungary', 4.34),
 (45, 'Hungary', 8.68),
 (45, 'Hungary', 13.02),
 (45, 'Hungary', 2.17),
 (59, 'India', 5.26),
 (59, 'India', 7.89),
 (59, 'India', 2.64),
 (58, 'India', 2.63),
 (58, 'India', 18.42),
 (58, 'India', 11.84),
 (59, 'India', 2.63),
 (59, 'India', 18.42),
 (59, 'India', 11.84),
 (58, 'India', 2.63),
 (58, 'India', 5.26),
 (58, 'India', 7.89),
 (58, 'India', 2.64),
 (46, 'Ireland', 13.02),
 (46, 'Ireland', 2.17),
 (46, 'Ireland', 4.34),
 (46, 'Ireland', 47.92),
 (46, 'Ireland', 19.53),
 (46, 'Ireland', 4.34),
 (46, 'Ireland', 8.68),
 (47, 'Italy', 5.26),
 (47, 'Italy', 10.53),
 (47, 'Italy', 15.79),
 (47, 'Italy', 2.63),
 (47, 'Italy', 5.26),
 (47, 'Italy', 36.84),
 (47, 'Italy', 23.68),
 (48, 'Netherlands', 21.94),
 (48, 'Netherlands', 4.87),
 (48, 'Netherlands', 9.75),
 (48, 'Netherlands', 22.01),
 (48, 'Netherlands', 2.44),
 (48, 'Netherlands', 4.87),
 (48, 'Netherlands', 34.12),
 (4, 'Norway', 9.99),
 (4, 'Norway', 14.99),
 (4, 'Norway', 2.5),
 (4, 'Norway', 5.0),
 (4, 'Norway', 40.03),
 (4, 'Norway', 22.49),
 (4, 'Norway', 5.0),
 (49, 'Poland', 5.26),
 (49, 'Poland', 36.84),
 (49, 'Poland', 23.68),
 (49, 'Poland', 5.26),
 (49, 'Poland', 10.53),
 (49, 'Poland', 15.79),
 (49, 'Poland', 2.63),
 (34, 'Portugal', 2.56),
 (34, 'Portugal', 5.13),
 (34, 'Portugal', 7.69),
 (34, 'Portugal', 1.28),
 (35, 'Portugal', 2.56),
 (35, 'Portugal', 5.13),
 (35, 'Portugal', 7.69),
 (35, 'Portugal', 1.28),
 (34, 'Portugal', 2.56),
 (34, 'Portugal', 17.94),
 (34, 'Portugal', 14.12),
 (35, 'Portugal', 2.56),
 (35, 'Portugal', 17.94),
 (35, 'Portugal', 11.54),
 (50, 'Spain', 2.63),
 (50, 'Spain', 5.26),
 (50, 'Spain', 36.84),
 (50, 'Spain', 23.68),
 (50, 'Spain', 5.26),
 (50, 'Spain', 10.53),
 (50, 'Spain', 15.79),
 (51, 'Sweden', 5.13),
 (51, 'Sweden', 10.25),
 (51, 'Sweden', 17.97),
 (51, 'Sweden', 2.56),
 (51, 'Sweden', 5.13),
 (51, 'Sweden', 35.89),
 (51, 'Sweden', 23.07),
 (23, 'USA', 2.65),
 (16, 'USA', 0.19),
 (17, 'USA', 0.38),
 (19, 'USA', 0.38),
 (21, 'USA', 0.76),
 (25, 'USA', 1.14),
 (19, 'USA', 2.65),
 (17, 'USA', 0.76),
 (21, 'USA', 1.14),
 (27, 'USA', 1.7),
 (17, 'USA', 1.14),
 (23, 'USA', 1.7),
 (25, 'USA', 0.19),
 (26, 'USA', 0.38),
 (28, 'USA', 0.38),
 (19, 'USA', 1.7),
 (28, 'USA', 2.65),
 (21, 'USA', 0.19),
 (22, 'USA', 0.38),
 (24, 'USA', 0.38),
 (26, 'USA', 0.76),
 (24, 'USA', 3.03),
 (17, 'USA', 0.19),
 (18, 'USA', 0.38),
 (20, 'USA', 0.38),
 (22, 'USA', 0.76),
 (26, 'USA', 1.14),
 (20, 'USA', 2.65),
 (16, 'USA', 0.38),
 (18, 'USA', 0.76),
 (22, 'USA', 1.14),
 (28, 'USA', 1.7),
 (16, 'USA', 2.65),
 (18, 'USA', 1.14),
 (24, 'USA', 1.7),
 (26, 'USA', 0.19),
 (27, 'USA', 0.38),
 (20, 'USA', 1.7),
 (22, 'USA', 0.19),
 (23, 'USA', 0.38),
 (25, 'USA', 0.38),
 (27, 'USA', 0.76),
 (16, 'USA', 1.7),
 (25, 'USA', 3.61),
 (18, 'USA', 0.19),
 (19, 'USA', 0.38),
 (21, 'USA', 0.38),
 (23, 'USA', 0.76),
 (27, 'USA', 1.14),
 (21, 'USA', 2.65),
 (17, 'USA', 0.38),
 (19, 'USA', 0.76),
 (23, 'USA', 1.14),
 (17, 'USA', 2.65),
 (19, 'USA', 1.14),
 (25, 'USA', 1.7),
 (27, 'USA', 0.19),
 (28, 'USA', 0.38),
 (21, 'USA', 1.7),
 (23, 'USA', 0.19),
 (24, 'USA', 0.38),
 (26, 'USA', 0.38),
 (28, 'USA', 0.76),
 (17, 'USA', 2.09),
 (26, 'USA', 4.56),
 (19, 'USA', 0.38),
 (20, 'USA', 0.76),
 (22, 'USA', 0.76),
 (24, 'USA', 1.52),
 (28, 'USA', 2.28),
 (22, 'USA', 2.65),
 (16, 'USA', 0.38),
 (18, 'USA', 0.38),
 (20, 'USA', 0.76),
 (24, 'USA', 1.14),
 (18, 'USA', 2.65),
 (16, 'USA', 0.76),
 (20, 'USA', 1.14),
 (26, 'USA', 1.7),
 (28, 'USA', 0.19),
 (16, 'USA', 1.14),
 (22, 'USA', 1.7),
 (24, 'USA', 0.19),
 (25, 'USA', 0.38),
 (27, 'USA', 0.38),
 (18, 'USA', 1.7),
 (27, 'USA', 2.65),
 (20, 'USA', 0.19),
 (21, 'USA', 0.38),
 (23, 'USA', 0.38),
 (25, 'USA', 0.76),
 (52, 'United Kingdom', 7.89),
 (54, 'United Kingdom', 0.88),
 (53, 'United Kingdom', 1.75),
 (53, 'United Kingdom', 12.28),
 (53, 'United Kingdom', 7.89),
 (52, 'United Kingdom', 1.75),
 (54, 'United Kingdom', 1.75),
 (54, 'United Kingdom', 12.28),
 (52, 'United Kingdom', 3.51),
 (52, 'United Kingdom', 5.26),
 (54, 'United Kingdom', 7.89),
 (52, 'United Kingdom', 0.88),
 (53, 'United Kingdom', 1.75),
 (53, 'United Kingdom', 3.51),
 (53, 'United Kingdom', 5.26),
 (53, 'United Kingdom', 0.88),
 (54, 'United Kingdom', 1.75),
 (52, 'United Kingdom', 1.75),
 (54, 'United Kingdom', 3.51),
 (52, 'United Kingdom', 12.28),
 (54, 'United Kingdom', 5.26)]

In [18]:
%%sql
SELECT 
    CustomerId,
    BillingCountry,
    ROUND(AVG(Total) OVER (PARTITION BY BillingCountry ORDER BY BillingCountry),2) AS Avg_Invoice_Amount
FROM invoices
WHERE Total IS NOT NULL;

 * sqlite:///chinook.db
Done.

[(56, 'Argentina', 5.37),
 (56, 'Argentina', 5.37),
 (56, 'Argentina', 5.37),
 (56, 'Argentina', 5.37),
 (56, 'Argentina', 5.37),
 (56, 'Argentina', 5.37),
 (56, 'Argentina', 5.37),
 (55, 'Australia', 5.37),
 (55, 'Australia', 5.37),
 (55, 'Australia', 5.37),
 (55, 'Australia', 5.37),
 (55, 'Australia', 5.37),
 (55, 'Australia', 5.37),
 (55, 'Australia', 5.37),
 (7, 'Austria', 6.09),
 (7, 'Austria', 6.09),
 (7, 'Austria', 6.09),
 (7, 'Austria', 6.09),
 (7, 'Austria', 6.09),
 (7, 'Austria', 6.09),
 (7, 'Austria', 6.09),
 (8, 'Belgium', 5.37),
 (8, 'Belgium', 5.37),
 (8, 'Belgium', 5.37),
 (8, 'Belgium', 5.37),
 (8, 'Belgium', 5.37),
 (8, 'Belgium', 5.37),
 (8, 'Belgium', 5.37),
 (10, 'Brazil', 5.43),
 (12, 'Brazil', 5.43),
 (13, 'Brazil', 5.43),
 (11, 'Brazil', 5.43),
 (13, 'Brazil', 5.43),
 (11, 'Brazil', 5.43),
 (13, 'Brazil', 5.43),
 (1, 'Brazil', 5.43),
 (1, 'Brazil', 5.43),
 (11, 'Brazil', 5.43),
 (13, 'Brazil', 5.43),
 (1, 'Brazil', 5.43),
 (10, 'Brazil', 5.43),
 (12, 'Brazil', 5.43),
 (12, 'Brazil', 5.43),
 (10, 'Brazil', 5.43),
 (1, 'Brazil', 5.43),
 (10, 'Brazil', 5.43),
 (12, 'Brazil', 5.43),
 (10, 'Brazil', 5.43),
 (11, 'Brazil', 5.43),
 (13, 'Brazil', 5.43),
 (13, 'Brazil', 5.43),
 (11, 'Brazil', 5.43),
 (11, 'Brazil', 5.43),
 (1, 'Brazil', 5.43),
 (13, 'Brazil', 5.43),
 (1, 'Brazil', 5.43),
 (11, 'Brazil', 5.43),
 (12, 'Brazil', 5.43),
 (10, 'Brazil', 5.43),
 (12, 'Brazil', 5.43),
 (1, 'Brazil', 5.43),
 (10, 'Brazil', 5.43),
 (12, 'Brazil', 5.43),
 (14, 'Canada', 5.43),
 (31, 'Canada', 5.43),
 (33, 'Canada', 5.43),
 (15, 'Canada', 5.43),
 (15, 'Canada', 5.43),
 (29, 'Canada', 5.43),
 (30, 'Canada', 5.43),
 (32, 'Canada', 5.43),
 (32, 'Canada', 5.43),
 (30, 'Canada', 5.43),
 (30, 'Canada', 5.43),
 (3, 'Canada', 5.43),
 (15, 'Canada', 5.43),
 (3, 'Canada', 5.43),
 (32, 'Canada', 5.43),
 (14, 'Canada', 5.43),
 (30, 'Canada', 5.43),
 (31, 'Canada', 5.43),
 (33, 'Canada', 5.43),
 (14, 'Canada', 5.43),
 (33, 'Canada', 5.43),
 (3, 'Canada', 5.43),
 (29, 'Canada', 5.43),
 (31, 'Canada', 5.43),
 (14, 'Canada', 5.43),
 (29, 'Canada', 5.43),
 (31, 'Canada', 5.43),
 (33, 'Canada', 5.43),
 (14, 'Canada', 5.43),
 (15, 'Canada', 5.43),
 (29, 'Canada', 5.43),
 (31, 'Canada', 5.43),
 (32, 'Canada', 5.43),
 (15, 'Canada', 5.43),
 (30, 'Canada', 5.43),
 (32, 'Canada', 5.43),
 (15, 'Canada', 5.43),
 (30, 'Canada', 5.43),
 (32, 'Canada', 5.43),
 (3, 'Canada', 5.43),
 (3, 'Canada', 5.43),
 (15, 'Canada', 5.43),
 (30, 'Canada', 5.43),
 (3, 'Canada', 5.43),
 (32, 'Canada', 5.43),
 (33, 'Canada', 5.43),
 (14, 'Canada', 5.43),
 (14, 'Canada', 5.43),
 (29, 'Canada', 5.43),
 (31, 'Canada', 5.43),
 (33, 'Canada', 5.43),
 (31, 'Canada', 5.43),
 (29, 'Canada', 5.43),
 (33, 'Canada', 5.43),
 (3, 'Canada', 5.43),
 (29, 'Canada', 5.43),
 (57, 'Chile', 6.66),
 (57, 'Chile', 6.66),
 (57, 'Chile', 6.66),
 (57, 'Chile', 6.66),
 (57, 'Chile', 6.66),
 (57, 'Chile', 6.66),
 (57, 'Chile', 6.66),
 (6, 'Czech Republic', 6.45),
 (5, 'Czech Republic', 6.45),
 (5, 'Czech Republic', 6.45),
 (5, 'Czech Republic', 6.45),
 (5, 'Czech Republic', 6.45),
 (6, 'Czech Republic', 6.45),
 (6, 'Czech Republic', 6.45),
 (6, 'Czech Republic', 6.45),
 (6, 'Czech Republic', 6.45),
 (5, 'Czech Republic', 6.45),
 (5, 'Czech Republic', 6.45),
 (5, 'Czech Republic', 6.45),
 (6, 'Czech Republic', 6.45),
 (6, 'Czech Republic', 6.45),
 (9, 'Denmark', 5.37),
 (9, 'Denmark', 5.37),
 (9, 'Denmark', 5.37),
 (9, 'Denmark', 5.37),
 (9, 'Denmark', 5.37),
 (9, 'Denmark', 5.37),
 (9, 'Denmark', 5.37),
 (44, 'Finland', 5.95),
 (44, 'Finland', 5.95),
 (44, 'Finland', 5.95),
 (44, 'Finland', 5.95),
 (44, 'Finland', 5.95),
 (44, 'Finland', 5.95),
 (44, 'Finland', 5.95),
 (40, 'France', 5.57),
 (42, 'France', 5.57),
 (40, 'France', 5.57),
 (42, 'France', 5.57),
 (40, 'France', 5.57),
 (42, 'France', 5.57),
 (43, 'France', 5.57),
 (39, 'France', 5.57),
 (41, 'France', 5.57),
 (43, 'France', 5.57),
 (41, 'France', 5.57),
 (39, 'France', 5.57),
 (43, 'France', 5.57),
 (39, 'France', 5.57),
 (41, 'France', 5.57),
 (43, 'France', 5.57),
 (39, 'France', 5.57),
 (40, 'France', 5.57),
 (42, 'France', 5.57),
 (42, 'France', 5.57),
 (40, 'France', 5.57),
 (40, 'France', 5.57),
 (42, 'France', 5.57),
 (40, 'France', 5.57),
 (41, 'France', 5.57),
 (43, 'France', 5.57),
 (43, 'France', 5.57),
 (39, 'France', 5.57),
 (41, 'France', 5.57),
 (39, 'France', 5.57),
 (41, 'France', 5.57),
 (43, 'France', 5.57),
 (39, 'France', 5.57),
 (41, 'France', 5.57),
 (42, 'France', 5.57),
 (2, 'Germany', 5.59),
 (37, 'Germany', 5.59),
 (38, 'Germany', 5.59),
 (2, 'Germany', 5.59),
 (36, 'Germany', 5.59),
 (38, 'Germany', 5.59),
 (36, 'Germany', 5.59),
 (38, 'Germany', 5.59),
 (2, 'Germany', 5.59),
 (36, 'Germany', 5.59),
 (38, 'Germany', 5.59),
 (37, 'Germany', 5.59),
 (37, 'Germany', 5.59),
 (37, 'Germany', 5.59),
 (2, 'Germany', 5.59),
 (2, 'Germany', 5.59),
 (36, 'Germany', 5.59),
 (38, 'Germany', 5.59),
 (38, 'Germany', 5.59),
 (2, 'Germany', 5.59),
 (36, 'Germany', 5.59),
 (36, 'Germany', 5.59),
 (38, 'Germany', 5.59),
 (2, 'Germany', 5.59),
 (36, 'Germany', 5.59),
 (37, 'Germany', 5.59),
 (37, 'Germany', 5.59),
 (37, 'Germany', 5.59),
 (45, 'Hungary', 6.52),
 (45, 'Hungary', 6.52),
 (45, 'Hungary', 6.52),
 (45, 'Hungary', 6.52),
 (45, 'Hungary', 6.52),
 (45, 'Hungary', 6.52),
 (45, 'Hungary', 6.52),
 (59, 'India', 5.79),
 (59, 'India', 5.79),
 (59, 'India', 5.79),
 (58, 'India', 5.79),
 (58, 'India', 5.79),
 (58, 'India', 5.79),
 (59, 'India', 5.79),
 (59, 'India', 5.79),
 (59, 'India', 5.79),
 (58, 'India', 5.79),
 (58, 'India', 5.79),
 (58, 'India', 5.79),
 (58, 'India', 5.79),
 (46, 'Ireland', 6.52),
 (46, 'Ireland', 6.52),
 (46, 'Ireland', 6.52),
 (46, 'Ireland', 6.52),
 (46, 'Ireland', 6.52),
 (46, 'Ireland', 6.52),
 (46, 'Ireland', 6.52),
 (47, 'Italy', 5.37),
 (47, 'Italy', 5.37),
 (47, 'Italy', 5.37),
 (47, 'Italy', 5.37),
 (47, 'Italy', 5.37),
 (47, 'Italy', 5.37),
 (47, 'Italy', 5.37),
 (48, 'Netherlands', 5.8),
 (48, 'Netherlands', 5.8),
 (48, 'Netherlands', 5.8),
 (48, 'Netherlands', 5.8),
 (48, 'Netherlands', 5.8),
 (48, 'Netherlands', 5.8),
 (48, 'Netherlands', 5.8),
 (4, 'Norway', 5.66),
 (4, 'Norway', 5.66),
 (4, 'Norway', 5.66),
 (4, 'Norway', 5.66),
 (4, 'Norway', 5.66),
 (4, 'Norway', 5.66),
 (4, 'Norway', 5.66),
 (49, 'Poland', 5.37),
 (49, 'Poland', 5.37),
 (49, 'Poland', 5.37),
 (49, 'Poland', 5.37),
 (49, 'Poland', 5.37),
 (49, 'Poland', 5.37),
 (49, 'Poland', 5.37),
 (34, 'Portugal', 5.52),
 (34, 'Portugal', 5.52),
 (34, 'Portugal', 5.52),
 (34, 'Portugal', 5.52),
 (35, 'Portugal', 5.52),
 (35, 'Portugal', 5.52),
 (35, 'Portugal', 5.52),
 (35, 'Portugal', 5.52),
 (34, 'Portugal', 5.52),
 (34, 'Portugal', 5.52),
 (34, 'Portugal', 5.52),
 (35, 'Portugal', 5.52),
 (35, 'Portugal', 5.52),
 (35, 'Portugal', 5.52),
 (50, 'Spain', 5.37),
 (50, 'Spain', 5.37),
 (50, 'Spain', 5.37),
 (50, 'Spain', 5.37),
 (50, 'Spain', 5.37),
 (50, 'Spain', 5.37),
 (50, 'Spain', 5.37),
 (51, 'Sweden', 5.52),
 (51, 'Sweden', 5.52),
 (51, 'Sweden', 5.52),
 (51, 'Sweden', 5.52),
 (51, 'Sweden', 5.52),
 (51, 'Sweden', 5.52),
 (51, 'Sweden', 5.52),
 (23, 'USA', 5.75),
 (16, 'USA', 5.75),
 (17, 'USA', 5.75),
 (19, 'USA', 5.75),
 (21, 'USA', 5.75),
 (25, 'USA', 5.75),
 (19, 'USA', 5.75),
 (17, 'USA', 5.75),
 (21, 'USA', 5.75),
 (27, 'USA', 5.75),
 (17, 'USA', 5.75),
 (23, 'USA', 5.75),
 (25, 'USA', 5.75),
 (26, 'USA', 5.75),
 (28, 'USA', 5.75),
 (19, 'USA', 5.75),
 (28, 'USA', 5.75),
 (21, 'USA', 5.75),
 (22, 'USA', 5.75),
 (24, 'USA', 5.75),
 (26, 'USA', 5.75),
 (24, 'USA', 5.75),
 (17, 'USA', 5.75),
 (18, 'USA', 5.75),
 (20, 'USA', 5.75),
 (22, 'USA', 5.75),
 (26, 'USA', 5.75),
 (20, 'USA', 5.75),
 (16, 'USA', 5.75),
 (18, 'USA', 5.75),
 (22, 'USA', 5.75),
 (28, 'USA', 5.75),
 (16, 'USA', 5.75),
 (18, 'USA', 5.75),
 (24, 'USA', 5.75),
 (26, 'USA', 5.75),
 (27, 'USA', 5.75),
 (20, 'USA', 5.75),
 (22, 'USA', 5.75),
 (23, 'USA', 5.75),
 (25, 'USA', 5.75),
 (27, 'USA', 5.75),
 (16, 'USA', 5.75),
 (25, 'USA', 5.75),
 (18, 'USA', 5.75),
 (19, 'USA', 5.75),
 (21, 'USA', 5.75),
 (23, 'USA', 5.75),
 (27, 'USA', 5.75),
 (21, 'USA', 5.75),
 (17, 'USA', 5.75),
 (19, 'USA', 5.75),
 (23, 'USA', 5.75),
 (17, 'USA', 5.75),
 (19, 'USA', 5.75),
 (25, 'USA', 5.75),
 (27, 'USA', 5.75),
 (28, 'USA', 5.75),
 (21, 'USA', 5.75),
 (23, 'USA', 5.75),
 (24, 'USA', 5.75),
 (26, 'USA', 5.75),
 (28, 'USA', 5.75),
 (17, 'USA', 5.75),
 (26, 'USA', 5.75),
 (19, 'USA', 5.75),
 (20, 'USA', 5.75),
 (22, 'USA', 5.75),
 (24, 'USA', 5.75),
 (28, 'USA', 5.75),
 (22, 'USA', 5.75),
 (16, 'USA', 5.75),
 (18, 'USA', 5.75),
 (20, 'USA', 5.75),
 (24, 'USA', 5.75),
 (18, 'USA', 5.75),
 (16, 'USA', 5.75),
 (20, 'USA', 5.75),
 (26, 'USA', 5.75),
 (28, 'USA', 5.75),
 (16, 'USA', 5.75),
 (22, 'USA', 5.75),
 (24, 'USA', 5.75),
 (25, 'USA', 5.75),
 (27, 'USA', 5.75),
 (18, 'USA', 5.75),
 (27, 'USA', 5.75),
 (20, 'USA', 5.75),
 (21, 'USA', 5.75),
 (23, 'USA', 5.75),
 (25, 'USA', 5.75),
 (52, 'United Kingdom', 5.37),
 (54, 'United Kingdom', 5.37),
 (53, 'United Kingdom', 5.37),
 (53, 'United Kingdom', 5.37),
 (53, 'United Kingdom', 5.37),
 (52, 'United Kingdom', 5.37),
 (54, 'United Kingdom', 5.37),
 (54, 'United Kingdom', 5.37),
 (52, 'United Kingdom', 5.37),
 (52, 'United Kingdom', 5.37),
 (54, 'United Kingdom', 5.37),
 (52, 'United Kingdom', 5.37),
 (53, 'United Kingdom', 5.37),
 (53, 'United Kingdom', 5.37),
 (53, 'United Kingdom', 5.37),
 (53, 'United Kingdom', 5.37),
 (54, 'United Kingdom', 5.37),
 (52, 'United Kingdom', 5.37),
 (54, 'United Kingdom', 5.37),
 (52, 'United Kingdom', 5.37),
 (54, 'United Kingdom', 5.37)]

In [20]:
%%sql
SELECT c.FirstName AS "customer_name", c.LastName AS "customer_surname", e.FirstName AS "agent_name", e.LastName AS "agent_surname"
FROM customers c, employees e
WHERE c.Country = "Canada"
AND c.SupportRepId = e.EmployeeId;

 * sqlite:///chinook.db
Done.

[('François', 'Tremblay', 'Jane', 'Peacock'),
 ('Mark', 'Philips', 'Steve', 'Johnson'),
 ('Jennifer', 'Peterson', 'Jane', 'Peacock'),
 ('Robert', 'Brown', 'Jane', 'Peacock'),
 ('Edward', 'Francis', 'Jane', 'Peacock'),
 ('Martha', 'Silk', 'Steve', 'Johnson'),
 ('Aaron', 'Mitchell', 'Margaret', 'Park'),
 ('Ellie', 'Sullivan', 'Jane', 'Peacock')]

In [28]:
%%sql

CREATE TABLE canadianemployees (
  FirstName VARCHAR(50),
  LastName VARCHAR(50),
  AgentName VARCHAR(50),
  AgentSurname VARCHAR(50)
);

 * sqlite:///chinook.db
(sqlite3.OperationalError) table canadianemployees already exists
[SQL: CREATE TABLE canadianemployees (
  FirstName VARCHAR(50),
  LastName VARCHAR(50),
  AgentName VARCHAR(50),
  AgentSurname VARCHAR(50)
);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [29]:
%%sql

INSERT INTO canadianemployees (FirstName, LastName, AgentName, AgentSurname)
SELECT c.FirstName AS "customer_name", c.LastName AS "customer_surname", e.FirstName AS "agent_name", e.LastName AS "agent_surname"
FROM customers c, employees e
WHERE c.Country = "Canada"
AND c.SupportRepId = e.EmployeeId;

 * sqlite:///chinook.db
8 rows affected.

[]

In [41]:
%sql SELECT * FROM canadianemployees;

 * sqlite:///chinook.db
Done.

[('François', 'Tremblay', 'Jane', 'Peacock'),
 ('Mark', 'Philips', 'Steve', 'Johnson'),
 ('Jennifer', 'Peterson', 'Jane', 'Peacock'),
 ('Robert', 'Brown', 'Jane', 'Peacock'),
 ('Edward', 'Francis', 'Jane', 'Peacock'),
 ('Martha', 'Silk', 'Steve', 'Johnson'),
 ('Aaron', 'Mitchell', 'Margaret', 'Park'),
 ('Ellie', 'Sullivan', 'Jane', 'Peacock')]

In [42]:
%%sql

SELECT 
    CustomerId,
    BillingCity,
    IF( (BillingState = "None") AND (Total IS NULL), 10, IF( (BillingState = "N/A") AND (Total IS NULL), 20, 0
       )) AS NewTotal
FROM invoices
LIMIT 10;

 * sqlite:///chinook.db
(sqlite3.OperationalError) no such function: IF
[SQL: SELECT
    CustomerId,
    BillingCity,
    IF( (BillingState = "None") AND (Total IS NULL), 10, IF( (BillingState = "N/A") AND (Total IS NULL), 20, 0
       )) AS NewTotal
FROM invoices
LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [44]:
%%sql

SELECT DISTINCT
    MAX(Total) 
FROM 
    invoices;

 * sqlite:///chinook.db
Done.

[(25.86,)]

In [60]:
%%sql

SELECT DISTINCT
    InvoiceDate, 
    BillingCountry, 
    CAST(Total AS DECIMAL(2,2)) AS TotalInvoiceBill
FROM 
    invoices;

 * sqlite:///chinook.db
Done.

[('2009-01-01 00:00:00', 'Germany', 1.98),
 ('2009-01-02 00:00:00', 'Norway', 3.96),
 ('2009-01-03 00:00:00', 'Belgium', 5.94),
 ('2009-01-06 00:00:00', 'Canada', 8.91),
 ('2009-01-11 00:00:00', 'USA', 13.86),
 ('2009-01-19 00:00:00', 'Germany', 0.99),
 ('2009-02-01 00:00:00', 'Germany', 1.98),
 ('2009-02-01 00:00:00', 'France', 1.98),
 ('2009-02-02 00:00:00', 'France', 3.96),
 ('2009-02-03 00:00:00', 'Ireland', 5.94),
 ('2009-02-06 00:00:00', 'United Kingdom', 8.91),
 ('2009-02-11 00:00:00', 'Germany', 13.86),
 ('2009-02-19 00:00:00', 'USA', 0.99),
 ('2009-03-04 00:00:00', 'USA', 1.98),
 ('2009-03-05 00:00:00', 'USA', 3.96),
 ('2009-03-06 00:00:00', 'USA', 5.94),
 ('2009-03-09 00:00:00', 'Canada', 8.91),
 ('2009-03-14 00:00:00', 'France', 13.86),
 ('2009-03-22 00:00:00', 'United Kingdom', 0.99),
 ('2009-04-04 00:00:00', 'Australia', 1.98),
 ('2009-04-04 00:00:00', 'Chile', 1.98),
 ('2009-04-05 00:00:00', 'India', 3.96),
 ('2009-04-06 00:00:00', 'Norway', 5.94),
 ('2009-04-09 00:00:00', 'Brazil', 8.91),
 ('2009-04-14 00:00:00', 'USA', 13.86),
 ('2009-04-22 00:00:00', 'Canada', 0.99),
 ('2009-05-05 00:00:00', 'Portugal', 1.98),
 ('2009-05-05 00:00:00', 'Germany', 1.98),
 ('2009-05-06 00:00:00', 'Germany', 3.96),
 ('2009-05-07 00:00:00', 'France', 5.94),
 ('2009-05-10 00:00:00', 'Netherlands', 8.91),
 ('2009-05-15 00:00:00', 'Chile', 13.86),
 ('2009-05-23 00:00:00', 'Brazil', 0.99),
 ('2009-06-05 00:00:00', 'Brazil', 1.98),
 ('2009-06-05 00:00:00', 'Canada', 1.98),
 ('2009-06-06 00:00:00', 'USA', 3.96),
 ('2009-06-07 00:00:00', 'USA', 5.94),
 ('2009-06-10 00:00:00', 'USA', 8.91),
 ('2009-06-15 00:00:00', 'Germany', 13.86),
 ('2009-06-23 00:00:00', 'Spain', 0.99),
 ('2009-07-06 00:00:00', 'Sweden', 1.98),
 ('2009-07-06 00:00:00', 'United Kingdom', 1.98),
 ('2009-07-07 00:00:00', 'Australia', 3.96),
 ('2009-07-08 00:00:00', 'India', 5.94),
 ('2009-07-11 00:00:00', 'Czech Republic', 8.91),
 ('2009-07-16 00:00:00', 'Canada', 13.86),
 ('2009-07-24 00:00:00', 'Canada', 0.99),
 ('2009-08-06 00:00:00', 'Canada', 1.98),
 ('2009-08-07 00:00:00', 'Portugal', 3.96),
 ('2009-08-08 00:00:00', 'Germany', 5.94),
 ('2009-08-11 00:00:00', 'Finland', 8.91),
 ('2009-08-16 00:00:00', 'United Kingdom', 13.86),
 ('2009-08-24 00:00:00', 'Belgium', 0.99),
 ('2009-09-06 00:00:00', 'Denmark', 1.98),
 ('2009-09-06 00:00:00', 'Brazil', 1.98),
 ('2009-09-07 00:00:00', 'Brazil', 3.96),
 ('2009-09-08 00:00:00', 'USA', 5.94),
 ('2009-09-11 00:00:00', 'USA', 8.91),
 ('2009-09-16 00:00:00', 'Canada', 13.86),
 ('2009-09-24 00:00:00', 'Ireland', 0.99),
 ('2009-10-07 00:00:00', 'Italy', 1.98),
 ('2009-10-07 00:00:00', 'Poland', 1.98),
 ('2009-10-08 00:00:00', 'Sweden', 3.96),
 ('2009-10-09 00:00:00', 'Australia', 5.94),
 ('2009-10-12 00:00:00', 'Germany', 8.91),
 ('2009-10-17 00:00:00', 'Brazil', 13.86),
 ('2009-10-25 00:00:00', 'USA', 0.99),
 ('2009-11-07 00:00:00', 'USA', 1.98),
 ('2009-11-08 00:00:00', 'Canada', 3.96),
 ('2009-11-09 00:00:00', 'Portugal', 5.94),
 ('2009-11-12 00:00:00', 'France', 8.91),
 ('2009-11-17 00:00:00', 'Poland', 13.86),
 ('2009-11-25 00:00:00', 'Norway', 0.99),
 ('2009-12-08 00:00:00', 'Czech Republic', 1.98),
 ('2009-12-08 00:00:00', 'Austria', 1.98),
 ('2009-12-09 00:00:00', 'Denmark', 3.96),
 ('2009-12-10 00:00:00', 'Brazil', 5.94),
 ('2009-12-13 00:00:00', 'USA', 8.91),
 ('2009-12-18 00:00:00', 'USA', 13.86),
 ('2009-12-26 00:00:00', 'France', 0.99),
 ('2010-01-08 00:00:00', 'France', 1.98),
 ('2010-01-08 00:00:00', 'Hungary', 1.98),
 ('2010-01-09 00:00:00', 'Italy', 3.96),
 ('2010-01-10 00:00:00', 'Sweden', 6.94),
 ('2010-01-13 00:00:00', 'Chile', 17.91),
 ('2010-01-18 00:00:00', 'Austria', 18.86),
 ('2010-01-26 00:00:00', 'USA', 0.99),
 ('2010-02-08 00:00:00', 'USA', 1.98),
 ('2010-02-09 00:00:00', 'USA', 3.96),
 ('2010-02-10 00:00:00', 'Canada', 5.94),
 ('2010-02-13 00:00:00', 'Germany', 8.91),
 ('2010-02-18 00:00:00', 'Hungary', 21.86),
 ('2010-02-26 00:00:00', 'India', 1.99),
 ('2010-03-11 00:00:00', 'Brazil', 3.98),
 ('2010-03-11 00:00:00', 'Canada', 3.98),
 ('2010-03-12 00:00:00', 'Czech Republic', 3.96),
 ('2010-03-13 00:00:00', 'Denmark', 5.94),
 ('2010-03-16 00:00:00', 'Canada', 9.91),
 ('2010-03-21 00:00:00', 'USA', 15.86),
 ('2010-03-29 00:00:00', 'Germany', 0.99),
 ('2010-04-11 00:00:00', 'France', 1.98),
 ('2010-04-12 00:00:00', 'France', 3.96),
 ('2010-04-13 00:00:00', 'Italy', 5.94),
 ('2010-04-16 00:00:00', 'United Kingdom', 8.91),
 ('2010-04-21 00:00:00', 'Canada', 13.86),
 ('2010-04-29 00:00:00', 'USA', 0.99),
 ('2010-05-12 00:00:00', 'USA', 1.98),
 ('2010-05-13 00:00:00', 'USA', 3.96),
 ('2010-05-14 00:00:00', 'USA', 5.94),
 ('2010-05-17 00:00:00', 'Canada', 8.91),
 ('2010-05-22 00:00:00', 'France', 13.86),
 ('2010-05-30 00:00:00', 'Australia', 0.99),
 ('2010-06-12 00:00:00', 'Argentina', 1.98),
 ('2010-06-12 00:00:00', 'India', 1.98),
 ('2010-06-13 00:00:00', 'Brazil', 3.96),
 ('2010-06-14 00:00:00', 'Czech Republic', 5.94),
 ('2010-06-17 00:00:00', 'Brazil', 8.91),
 ('2010-06-22 00:00:00', 'USA', 13.86),
 ('2010-06-30 00:00:00', 'Portugal', 0.99),
 ('2010-07-13 00:00:00', 'Portugal', 1.98),
 ('2010-07-13 00:00:00', 'Germany', 1.98),
 ('2010-07-14 00:00:00', 'France', 3.96),
 ('2010-07-15 00:00:00', 'France', 5.94),
 ('2010-07-18 00:00:00', 'Poland', 8.91),
 ('2010-07-23 00:00:00', 'India', 13.86),
 ('2010-07-31 00:00:00', 'Brazil', 0.99),
 ('2010-08-13 00:00:00', 'Canada', 1.98),
 ('2010-08-13 00:00:00', 'USA', 1.98),
 ('2010-08-14 00:00:00', 'USA', 3.96),
 ('2010-08-15 00:00:00', 'USA', 5.94),
 ('2010-08-18 00:00:00', 'USA', 8.91),
 ('2010-08-23 00:00:00', 'Germany', 13.86),
 ('2010-08-31 00:00:00', 'Sweden', 0.99),
 ('2010-09-13 00:00:00', 'United Kingdom', 1.98),
 ('2010-09-14 00:00:00', 'Argentina', 3.96),
 ('2010-09-15 00:00:00', 'Brazil', 5.94),
 ('2010-09-18 00:00:00', 'Austria', 8.91),
 ('2010-09-23 00:00:00', 'USA', 13.86),
 ('2010-10-01 00:00:00', 'Canada', 0.99),
 ('2010-10-14 00:00:00', 'Canada', 1.98),
 ('2010-10-15 00:00:00', 'Portugal', 3.96),
 ('2010-10-16 00:00:00', 'France', 5.94),
 ('2010-10-19 00:00:00', 'Hungary', 8.91),
 ('2010-10-24 00:00:00', 'United Kingdom', 13.86),
 ('2010-11-01 00:00:00', 'Denmark', 0.99),
 ('2010-11-14 00:00:00', 'Brazil', 1.98),
 ('2010-11-15 00:00:00', 'Canada', 3.96),
 ('2010-11-16 00:00:00', 'USA', 5.94),
 ('2010-11-19 00:00:00', 'USA', 8.91),
 ('2010-11-24 00:00:00', 'Canada', 13.86),
 ('2010-12-02 00:00:00', 'Italy', 0.99),
 ('2010-12-15 00:00:00', 'Netherlands', 1.98),
 ('2010-12-15 00:00:00', 'Spain', 1.98),
 ('2010-12-16 00:00:00', 'United Kingdom', 3.96),
 ('2010-12-17 00:00:00', 'Argentina', 5.94),
 ('2010-12-20 00:00:00', 'Canada', 8.91),
 ('2010-12-25 00:00:00', 'Brazil', 13.86),
 ('2011-01-02 00:00:00', 'USA', 0.99),
 ('2011-01-15 00:00:00', 'USA', 1.98),
 ('2011-01-15 00:00:00', 'Canada', 1.98),
 ('2011-01-16 00:00:00', 'Canada', 3.96),
 ('2011-01-17 00:00:00', 'Portugal', 5.94),
 ('2011-01-20 00:00:00', 'France', 8.91),
 ('2011-01-25 00:00:00', 'Spain', 13.86),
 ('2011-02-02 00:00:00', 'Czech Republic', 0.99),
 ('2011-02-15 00:00:00', 'Czech Republic', 1.98),
 ('2011-02-15 00:00:00', 'Belgium', 1.98),
 ('2011-02-16 00:00:00', 'Brazil', 3.96),
 ('2011-02-17 00:00:00', 'Canada', 5.94),
 ('2011-02-20 00:00:00', 'USA', 8.91),
 ('2011-02-25 00:00:00', 'Canada', 13.86),
 ('2011-03-05 00:00:00', 'France', 0.99),
 ('2011-03-18 00:00:00', 'Finland', 1.98),
 ('2011-03-18 00:00:00', 'Ireland', 1.98),
 ('2011-03-19 00:00:00', 'Netherlands', 3.96),
 ('2011-03-20 00:00:00', 'United Kingdom', 5.94),
 ('2011-03-23 00:00:00', 'India', 8.91),
 ('2011-03-28 00:00:00', 'Belgium', 13.86),
 ('2011-04-05 00:00:00', 'USA', 0.99),
 ('2011-04-18 00:00:00', 'USA', 1.98),
 ('2011-04-19 00:00:00', 'USA', 3.96),
 ('2011-04-20 00:00:00', 'Canada', 5.94),
 ('2011-04-23 00:00:00', 'Germany', 14.91),
 ('2011-04-28 00:00:00', 'Ireland', 21.86),
 ('2011-05-06 00:00:00', 'Brazil', 0.99),
 ('2011-05-19 00:00:00', 'Germany', 1.98),
 ('2011-05-19 00:00:00', 'Norway', 1.98),
 ('2011-05-20 00:00:00', 'Czech Republic', 3.96),
 ('2011-05-21 00:00:00', 'Brazil', 5.94),
 ('2011-05-24 00:00:00', 'USA', 8.91),
 ('2011-05-29 00:00:00', 'USA', 18.86),
 ('2011-06-06 00:00:00', 'France', 1.99),
 ('2011-06-19 00:00:00', 'France', 2.98),
 ('2011-06-19 00:00:00', 'France', 3.98),
 ('2011-06-20 00:00:00', 'Finland', 7.96),
 ('2011-06-21 00:00:00', 'Netherlands', 8.94),
 ('2011-06-24 00:00:00', 'United Kingdom', 8.91),
 ('2011-06-29 00:00:00', 'Norway', 15.86),
 ('2011-07-07 00:00:00', 'USA', 0.99),
 ('2011-07-20 00:00:00', 'USA', 1.98),
 ('2011-07-21 00:00:00', 'USA', 3.96),
 ('2011-07-22 00:00:00', 'USA', 5.94),
 ('2011-07-25 00:00:00', 'Canada', 8.91),
 ('2011-07-30 00:00:00', 'France', 13.86),
 ('2011-08-07 00:00:00', 'Argentina', 0.99),
 ('2011-08-20 00:00:00', 'Chile', 1.98),
 ('2011-08-20 00:00:00', 'India', 1.98),
 ('2011-08-21 00:00:00', 'Germany', 3.96),
 ('2011-08-22 00:00:00', 'Czech Republic', 5.94),
 ('2011-08-25 00:00:00', 'Brazil', 8.91),
 ('2011-08-30 00:00:00', 'USA', 13.86),
 ('2011-09-07 00:00:00', 'Portugal', 0.99),
 ('2011-09-20 00:00:00', 'Germany', 1.98),
 ('2011-09-21 00:00:00', 'France', 3.96),
 ('2011-09-22 00:00:00', 'Finland', 5.94),
 ('2011-09-25 00:00:00', 'Spain', 8.91),
 ('2011-09-30 00:00:00', 'India', 13.86),
 ('2011-10-08 00:00:00', 'Canada', 0.99),
 ('2011-10-21 00:00:00', 'Canada', 1.98),
 ('2011-10-21 00:00:00', 'USA', 1.98),
 ('2011-10-22 00:00:00', 'USA', 3.96),
 ('2011-10-23 00:00:00', 'USA', 5.94),
 ('2011-10-26 00:00:00', 'Canada', 8.91),
 ('2011-10-31 00:00:00', 'Germany', 13.86),
 ('2011-11-08 00:00:00', 'United Kingdom', 0.99),
 ('2011-11-21 00:00:00', 'United Kingdom', 1.98),
 ('2011-11-21 00:00:00', 'Australia', 1.98),
 ('2011-11-22 00:00:00', 'Chile', 3.96),
 ('2011-11-23 00:00:00', 'Germany', 5.94),
 ('2011-11-26 00:00:00', 'Belgium', 8.91),
 ('2011-12-01 00:00:00', 'USA', 13.86),
 ('2011-12-09 00:00:00', 'Canada', 0.99),
 ('2011-12-22 00:00:00', 'Canada', 1.98),
 ('2011-12-22 00:00:00', 'Portugal', 1.98),
 ('2011-12-23 00:00:00', 'Germany', 3.96),
 ('2011-12-24 00:00:00', 'France', 5.94),
 ('2011-12-27 00:00:00', 'Ireland', 8.91),
 ('2012-01-01 00:00:00', 'Australia', 13.86),
 ('2012-01-09 00:00:00', 'Brazil', 0.99),
 ('2012-01-22 00:00:00', 'Brazil', 1.98),
 ('2012-01-23 00:00:00', 'Canada', 3.96),
 ('2012-01-24 00:00:00', 'USA', 5.94),
 ('2012-01-27 00:00:00', 'USA', 8.91),
 ('2012-02-01 00:00:00', 'Portugal', 13.86),
 ('2012-02-09 00:00:00', 'Netherlands', 0.99),
 ('2012-02-22 00:00:00', 'Poland', 1.98),
 ('2012-02-22 00:00:00', 'Sweden', 1.98),
 ('2012-02-23 00:00:00', 'United Kingdom', 3.96),
 ('2012-02-24 00:00:00', 'Chile', 5.94),
 ('2012-02-27 00:00:00', 'Norway', 8.91),
 ('2012-03-03 00:00:00', 'Brazil', 13.86),
 ('2012-03-11 00:00:00', 'USA', 0.99),
 ('2012-03-24 00:00:00', 'USA', 1.98),
 ('2012-03-24 00:00:00', 'Canada', 1.98),
 ('2012-03-25 00:00:00', 'Canada', 3.96),
 ('2012-03-26 00:00:00', 'Germany', 5.94),
 ('2012-03-29 00:00:00', 'France', 8.91),
 ('2012-04-03 00:00:00', 'Sweden', 13.86),
 ('2012-04-11 00:00:00', 'Czech Republic', 0.99),
 ('2012-04-24 00:00:00', 'Austria', 1.98),
 ('2012-04-24 00:00:00', 'Denmark', 1.98),
 ('2012-04-25 00:00:00', 'Brazil', 3.96),
 ('2012-04-26 00:00:00', 'Canada', 5.94),
 ('2012-04-29 00:00:00', 'USA', 8.91),
 ('2012-05-04 00:00:00', 'Canada', 13.86),
 ('2012-05-12 00:00:00', 'Finland', 0.99),
 ('2012-05-25 00:00:00', 'Hungary', 1.98),
 ('2012-05-25 00:00:00', 'Italy', 1.98),
 ('2012-05-26 00:00:00', 'Poland', 3.96),
 ('2012-05-27 00:00:00', 'United Kingdom', 5.94),
 ('2012-05-30 00:00:00', 'India', 8.91),
 ('2012-06-04 00:00:00', 'Denmark', 13.86),
 ('2012-06-12 00:00:00', 'USA', 0.99),
 ('2012-06-25 00:00:00', 'USA', 1.98),
 ('2012-06-26 00:00:00', 'USA', 3.96),
 ('2012-06-27 00:00:00', 'Canada', 5.94),
 ('2012-06-30 00:00:00', 'Germany', 8.91),
 ('2012-07-05 00:00:00', 'Italy', 13.86),
 ('2012-07-13 00:00:00', 'Germany', 0.99),
 ('2012-07-26 00:00:00', 'Canada', 1.98),
 ('2012-07-26 00:00:00', 'Czech Republic', 1.98),
 ('2012-07-27 00:00:00', 'Austria', 3.96),
 ('2012-07-28 00:00:00', 'Brazil', 5.94),
 ('2012-07-31 00:00:00', 'USA', 10.91),
 ('2012-08-05 00:00:00', 'USA', 23.86),
 ('2012-08-13 00:00:00', 'France', 0.99),
 ('2012-08-26 00:00:00', 'France', 1.98),
 ('2012-08-27 00:00:00', 'Hungary', 3.96),
 ('2012-08-28 00:00:00', 'Poland', 5.94),
 ('2012-08-31 00:00:00', 'Australia', 8.91),
 ('2012-09-05 00:00:00', 'Czech Republic', 16.86),
 ('2012-09-13 00:00:00', 'USA', 1.99),
 ('2012-09-26 00:00:00', 'USA', 3.98),
 ('2012-09-27 00:00:00', 'USA', 7.96),
 ('2012-09-28 00:00:00', 'USA', 11.94),
 ('2012-10-01 00:00:00', 'Portugal', 10.91),
 ('2012-10-06 00:00:00', 'France', 16.86),
 ('2012-10-14 00:00:00', 'Chile', 0.99),
 ('2012-10-27 00:00:00', 'India', 1.98),
 ('2012-10-27 00:00:00', 'Brazil', 1.98),
 ('2012-10-28 00:00:00', 'Canada', 3.96),
 ('2012-10-29 00:00:00', 'Austria', 5.94),
 ('2012-11-01 00:00:00', 'Brazil', 8.91),
 ('2012-11-06 00:00:00', 'USA', 13.86),
 ('2012-11-14 00:00:00', 'Germany', 0.99),
 ('2012-11-27 00:00:00', 'Germany', 1.98),
 ('2012-11-27 00:00:00', 'France', 1.98),
 ('2012-11-28 00:00:00', 'France', 3.96),
 ('2012-11-29 00:00:00', 'Hungary', 5.94),
 ('2012-12-02 00:00:00', 'Sweden', 8.91),
 ('2012-12-07 00:00:00', 'Brazil', 13.86),
 ('2012-12-15 00:00:00', 'Canada', 0.99),
 ('2012-12-28 00:00:00', 'USA', 1.98),
 ('2012-12-29 00:00:00', 'USA', 3.96),
 ('2012-12-30 00:00:00', 'USA', 5.94),
 ('2013-01-02 00:00:00', 'Canada', 8.91),
 ('2013-01-07 00:00:00', 'France', 13.86),
 ('2013-01-15 00:00:00', 'United Kingdom', 0.99),
 ('2013-01-28 00:00:00', 'United Kingdom', 1.98),
 ('2013-01-28 00:00:00', 'Argentina', 1.98),
 ('2013-01-29 00:00:00', 'India', 3.96),
 ('2013-01-30 00:00:00', 'Canada', 5.94),
 ('2013-02-02 00:00:00', 'Denmark', 8.91),
 ('2013-02-07 00:00:00', 'USA', 13.86),
 ('2013-02-15 00:00:00', 'Canada', 0.99),
 ('2013-02-28 00:00:00', 'Canada', 1.98),
 ('2013-02-28 00:00:00', 'Portugal', 1.98),
 ('2013-03-01 00:00:00', 'Germany', 3.96),
 ('2013-03-02 00:00:00', 'France', 5.94),
 ('2013-03-05 00:00:00', 'Italy', 8.91),
 ('2013-03-10 00:00:00', 'Argentina', 13.86),
 ('2013-03-18 00:00:00', 'Brazil', 0.99),
 ('2013-03-31 00:00:00', 'Brazil', 1.98),
 ('2013-03-31 00:00:00', 'Canada', 1.98),
 ('2013-04-01 00:00:00', 'USA', 3.96),
 ('2013-04-02 00:00:00', 'USA', 5.94),
 ('2013-04-05 00:00:00', 'USA', 8.91),
 ('2013-04-10 00:00:00', 'Portugal', 13.86),
 ('2013-04-18 00:00:00', 'Poland', 0.99),
 ('2013-05-01 00:00:00', 'Spain', 1.98),
 ('2013-05-01 00:00:00', 'United Kingdom', 1.98),
 ('2013-05-02 00:00:00', 'United Kingdom', 3.96),
 ('2013-05-03 00:00:00', 'India', 5.94),
 ('2013-05-06 00:00:00', 'Czech Republic', 8.91),
 ('2013-05-11 00:00:00', 'Canada', 13.86),
 ('2013-05-19 00:00:00', 'USA', 0.99),
 ('2013-06-01 00:00:00', 'Canada', 1.98),
 ('2013-06-02 00:00:00', 'Canada', 3.96),
 ('2013-06-03 00:00:00', 'Germany', 5.94),
 ('2013-06-06 00:00:00', 'France', 8.91),
 ('2013-06-11 00:00:00', 'United Kingdom', 13.86),
 ('2013-06-19 00:00:00', 'Austria', 0.99),
 ('2013-07-02 00:00:00', 'Belgium', 1.98),
 ('2013-07-02 00:00:00', 'Brazil', 1.98),
 ('2013-07-03 00:00:00', 'Brazil', 3.96),
 ('2013-07-04 00:00:00', 'USA', 5.94),
 ('2013-07-07 00:00:00', 'USA', 8.91),
 ('2013-07-12 00:00:00', 'Canada', 13.86),
 ('2013-07-20 00:00:00', 'Hungary', 0.99),
 ('2013-08-02 00:00:00', 'Ireland', 1.98),
 ('2013-08-02 00:00:00', 'Netherlands', 1.98),
 ('2013-08-03 00:00:00', 'Spain', 3.96),
 ('2013-08-04 00:00:00', 'United Kingdom', 5.94),
 ('2013-08-07 00:00:00', 'Brazil', 8.91),
 ('2013-08-12 00:00:00', 'Brazil', 13.86),
 ('2013-08-20 00:00:00', 'USA', 0.99),
 ('2013-09-02 00:00:00', 'USA', 1.98),
 ('2013-09-03 00:00:00', 'Canada', 3.96),
 ('2013-09-04 00:00:00', 'Canada', 5.94),
 ('2013-09-07 00:00:00', 'France', 8.91),
 ('2013-09-12 00:00:00', 'Netherlands', 13.86),
 ('2013-09-20 00:00:00', 'Canada', 0.99),
 ('2013-10-03 00:00:00', 'Norway', 1.98),
 ('2013-10-03 00:00:00', 'Czech Republic', 1.98),
 ('2013-10-04 00:00:00', 'Belgium', 3.96),
 ('2013-10-05 00:00:00', 'Brazil', 5.94),
 ('2013-10-08 00:00:00', 'USA', 8.91),
 ('2013-10-13 00:00:00', 'USA', 13.86),
 ('2013-10-21 00:00:00', 'France', 0.99),
 ('2013-11-03 00:00:00', 'France', 1.98),
 ('2013-11-03 00:00:00', 'Finland', 1.98),
 ('2013-11-04 00:00:00', 'Ireland', 3.96),
 ('2013-11-05 00:00:00', 'Spain', 5.94),
 ('2013-11-08 00:00:00', 'Argentina', 8.91),
 ('2013-11-13 00:00:00', 'Czech Republic', 25.86),
 ('2013-11-21 00:00:00', 'USA', 0.99),
 ('2013-12-04 00:00:00', 'USA', 1.98),
 ('2013-12-05 00:00:00', 'USA', 3.96),
 ('2013-12-06 00:00:00', 'Canada', 5.94),
 ('2013-12-09 00:00:00', 'Portugal', 8.91),
 ('2013-12-14 00:00:00', 'Finland', 13.86),
 ('2013-12-22 00:00:00', 'India', 1.99)]

In [61]:
#The `CAST()` function will only change the data type of the expression in the results set. 
#It does not alter the actual data type specified in the database schema.

In [69]:
%%sql

SELECT InvoiceDate,
    BillingCountry,
    BillingState,
    MIN(Total) AS min_invoice, 
    MAX(Total) AS max_invoice, 
    AVG(Total) AS avg_invoice 
FROM invoices
GROUP BY BillingCountry, BillingState
LIMIT 10;

 * sqlite:///chinook.db
Done.

[('2013-03-10 00:00:00', 'Argentina', None, 0.99, 13.86, 5.3742857142857146),
 ('2012-01-01 00:00:00', 'Australia', 'NSW', 0.99, 13.86, 5.3742857142857146),
 ('2010-01-18 00:00:00', 'Austria', None, 0.99, 18.86, 6.088571428571428),
 ('2011-03-28 00:00:00', 'Belgium', None, 0.99, 13.86, 5.374285714285714),
 ('2012-03-03 00:00:00', 'Brazil', 'DF', 0.99, 13.86, 5.3742857142857146),
 ('2010-12-25 00:00:00', 'Brazil', 'RJ', 0.99, 13.86, 5.374285714285714),
 ('2009-10-17 00:00:00', 'Brazil', 'SP', 0.99, 13.86, 5.469523809523809),
 ('2013-05-11 00:00:00', 'Canada', 'AB', 0.99, 13.86, 5.3742857142857146),
 ('2009-07-16 00:00:00', 'Canada', 'BC', 0.99, 13.86, 5.517142857142858),
 ('2009-09-16 00:00:00', 'Canada', 'MB', 0.99, 13.86, 5.3742857142857146)]

In [70]:
#Remember that we are using the `MIN`, `MAX`, and `AVG` functions to aggregate values in the `Pct_managed_drinking_water_services` column as well as view values in the `Region` and `Sub_region` columns. 
#Therefore, we have to specify a grouping criteria using the `GROUP BY` clause.

In [78]:
%%sql

SELECT DISTINCT BillingCountry,
    COUNT(DISTINCT(BillingState)) AS Number_of_States,
    ROUND(SUM(Total),4) AS rounded_suminvoice_by_country
FROM invoices 
GROUP BY BillingCountry
LIMIT 10;

 * sqlite:///chinook.db
Done.

[('Argentina', 0, 37.62),
 ('Australia', 1, 37.62),
 ('Austria', 0, 42.62),
 ('Belgium', 0, 37.62),
 ('Brazil', 3, 190.1),
 ('Canada', 7, 303.96),
 ('Chile', 0, 46.62),
 ('Czech Republic', 0, 90.24),
 ('Denmark', 0, 37.62),
 ('Finland', 0, 41.62)]

In [79]:
%%sql

SELECT 
    DISTINCT BillingCountry, 
    SUM(Total), 
    CONCAT( 
        SUBSTRING(IFNULL(UPPER(BillingCountry), 'UNKNOWN'),1,4), 
        SUBSTRING(IFNULL(BillingState, 'UNKNOWN'),1,4), 
        SUBSTRING(IFNULL(Total, 'UNKNOWN'),-1) 
    ) AS Country_invoice_id 
FROM 
    invoices
GROUP BY BillingCountry;

 * sqlite:///chinook.db
(sqlite3.OperationalError) no such function: CONCAT
[SQL: SELECT
    DISTINCT BillingCountry,
    SUM(Total),
    CONCAT(
        SUBSTRING(IFNULL(UPPER(BillingCountry), 'UNKNOWN'),1,4),
        SUBSTRING(IFNULL(BillingState, 'UNKNOWN'),1,4),
        SUBSTRING(IFNULL(Total, 'UNKNOWN'),-1)
    ) AS Country_invoice_id
FROM
    invoices
GROUP BY BillingCountry;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
%%sql

CREATE VIEW Employee_View AS 
SELECT LastName, FirstName, Title, Country
FROM Employees;

In [ ]:
%%sql

SELECT * FROM Employee_View
WHERE Title LIKE '%Sales%'

In [ ]:
%%sql

CREATE VIEW Customer_Support_View AS
SELECT c.FirstName Customer_Name, c.LastName Customer_Surname, c.Country Customer_Country, c.SupportRepId, e.EmployeeId, e.LastName Employee_surname, e.FirstName Employee_first_name, e.Title Employee_job_title, e.Country Employee_Country
FROM customers c 
INNER JOIN employees e
ON c.SupportRepId = e.EmployeeId

In [ ]:
%%sql

SELECT Customer_Name, Customer_Surname 
FROM Customer_Support_View
WHERE Employeeid = 3;

In [ ]:
%%sql

CREATE VIEW Customer_per_Country_View AS 
SELECT COUNT (CustomerId) AS Num_customers, Country
FROM customers
GROUP BY Country;

In [ ]:
%%sql

DROP VIEW Employee_View

In [81]:
#* Note: Because views are added to the main database after they are created, if we want to perform the `CREATE VIEW` commands again, we must first drop the prior view to prevent receiving a 'VIEW already exists' error.

In [86]:
%sql SELECT * FROM tracks LIMIT 5;

 * sqlite:///chinook.db
Done.

[(1, 'For Those About To Rock (We Salute You)', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 343719, 11170334, 0.99),
 (2, 'Balls to the Wall', 2, 2, 1, None, 342562, 5510424, 0.99),
 (3, 'Fast As a Shark', 3, 2, 1, 'F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman', 230619, 3990994, 0.99),
 (4, 'Restless and Wild', 3, 2, 1, 'F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. Dirkscneider & W. Hoffman', 252051, 4331779, 0.99),
 (5, 'Princess of the Dawn', 3, 2, 1, 'Deaffy & R.A. Smith-Diesel', 375418, 6290521, 0.99)]

In [106]:
%%sql
SELECT 
    Albumid,
    MediaTypeid,
    GenreId,
    Milliseconds,
    AVG(UnitPrice) OVER(PARTITION BY Albumid) AS avg_unitprice_fortrack
FROM 
    tracks
WHERE 
    Albumid = 3 
    AND Milliseconds < 300000
    AND UnitPrice < 1;

 * sqlite:///chinook.db
Done.

[(3, 2, 1, 230619, 0.99), (3, 2, 1, 252051, 0.99)]

In [94]:
### Implementing the same solution above using subqueries

In [110]:
%%sql


SELECT 
    Albumid,
    MediaTypeid,
    GenreId,
    Milliseconds,
    avg_unitprice_fortrack
FROM (
    SELECT
        Albumid,
        MediaTypeid,
        GenreId,
        UnitPrice,
        Milliseconds,
        AVG(UnitPrice) OVER(PARTITION BY Albumid) AS avg_unitprice_fortrack
    FROM
        tracks
    WHERE
        Albumid = 3
) AS subquery
WHERE 
    Milliseconds < 300000
    AND UnitPrice < 1;

 * sqlite:///chinook.db
Done.

[(3, 2, 1, 230619, 0.9899999999999999), (3, 2, 1, 252051, 0.9899999999999999)]

In [105]:
### Implementing the same solution using Common Table Expressions (CTEs)

In [108]:
%%sql
 
WITH track2 AS (
    SELECT 
        Albumid,
        MediaTypeid,
        GenreId,
        Milliseconds,
        UnitPrice,
        AVG(UnitPrice) OVER(PARTITION BY Albumid) AS avg_unitprice_fortrack  
    FROM 
        tracks
    WHERE 
        Albumid  = 3
)

SELECT 
    Albumid,
    MediaTypeid,
    GenreId,
    Milliseconds,
    avg_unitprice_fortrack
FROM 
    track2
WHERE 
    Milliseconds < 300000
    AND UnitPrice < 1;

 * sqlite:///chinook.db
Done.

[(3, 2, 1, 230619, 0.9899999999999999), (3, 2, 1, 252051, 0.9899999999999999)]